[Unit]
Description=Gamedoodle

[Service]
User=root
WorkingDirectory=/opt/gamedoodle/
ExecStart=/~/.virtualenvs/gamedoodle/bin/gunicorn gamedoodle.wsgi:application \
          --workers 1 \
          --bind 127.0.0.1:1234 \
          --log-level debug \
          --certfile /etc/letsencrypt/live/gamedoodle.com/fullchain.pem \
          --keyfile /etc/letsencrypt/live/gamedoodle.com/privkey.pem \
          --access-logfile /var/log/gamedoodle-access.log \
          --error-logfile /var/log/gamedoodle-error.log

[Install]
WantedBy=multi-user.target
Alias=gamedoodle.service
