<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Game Doodle
      {% endblock %}
    </title>
    <meta content charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  </head>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
  <style>
    body {
      margin: 20px;
      font-family: 'Press Start 2P';
      background-color: rgba(0, 0, 0, 0.02);
    }

    [dbg], [dbg] *, .dbg, .dbg * {
      outline: 1px solid red !important;
    }

    .nes-table.hoverable tr:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  </style>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
      "
    >
      <div>
        {% block navbar %}
          {% if username %}
          <div
            style="
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              margin-bottom: 20px;
            "
          >
            {% block navbar_left %}{% endblock %}
            {% block navbar_right %}
            <div>
              <span
                class="nes-text"
                style="margin-left: 32px; margin-right: 8px"
              >
                {{ username }}
              </span>
              <a
                class="nes-text is-error"
                href="{% url "logout" %}?next={{ request.path|urlencode }}"
                style="margin-right: 8px"
              >
                Logout
              </a>
            </div>
            {% endblock %}
          </div>
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock%}
      </div>
    </div>
  </body>
</html>
