{% extends "core/base.html" %}

{% block navbar_left %}
<a
  class="nes-text is-success"
  href="{% url "event-add-game" uuid=event.uuid %}"
>
  + Add Game
</a>
<div style="display: flex; flex-wrap: wrap;">
  <a
    href="{% url "event-list" %}"
    class="nes-text is-disabled"
    style="margin-left: 32px;"
  >
    Events
  </a>
  <a
    href="{% url "admin:index" %}"
    class="nes-text is-disabled nes-pointer"
    style="margin-left: 32px;"
  >
    Admin
  </a>
</div>
{% endblock %}

{% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
  "
>
  <div
    style="
      text-align: center;
      margin-bottom: 24px;
    "
  >
    <p>
      <h1 class="nes-text is-primary">
        {{ event.name }}
      </h1>
      {% if event.date %}
      <h2 class="nes-text">
        {{ event.date|date:"l, d.m.Y" }}
      </h2>
      {% endif %}
    </p>
    {% if event.details %}
    <p style="word-break: break-word;">
      {{ event.details|urlize }}
    </p>
    {% endif %}
    <p>
      Vote which games to play!
    </p>
    {% if event.read_only %}
    <div class="nes-text is-warning">
      Event is in read-only mode and can not be modified!
    </div>
    {% endif %}
  </div>
  <form
    id="form"
    action="{% url "event-vote-game" uuid=event.uuid %}"
    method="POST"
  >
    {% csrf_token %}
    {% for game in games %}
    <div
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 24px;
        padding: 16px;
        outline: 4px solid rgba(0, 0, 0, 0.08);
        background-color: white;
      "
    >
      <div
        style="
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="title"
          style="
            margin-top: 8px;
            margin-bottom: 8px;
            margin-right: auto;
            position: relative;
            top: -8px;
          "
        >
          {{ game.voting_rank }}.
          <a
            href="{{ game.store_url }}"
            target="_blank"
            title="Open store page"
          >
            {{ game.name }}
          </a>
          {% if game.votes.exists %}
          <span
            class="nes-text is-success"
          >
            &nbsp;+{{ game.votes|length }}&nbsp;
          </span>
          {% endif %}
          {% if game.is_free %}
          <a
            href="javascript:void(0)"
            class="nes-badge"
          >
            <span class="is-warning">free</span>
          </a>
          {% endif %}
        </div>

        {% if game.image_url %}
        <div style="flex-grow: 1">
          {% if game.store_url %}
          <a
            href="{{ game.store_url }}"
            target="_blank"
            title="Open store page"
          >
            <img
              src="{{ game.image_url }}"
              style="
                width: 100%;
                height: auto;
                max-width: 720px;
                max-height: 360px;
              "
            >
          </a>
          {% else %}
          <img
            src="{{ game.image_url }}"
            style="
              width: 100%;
              height: auto;
              max-height: 400px;
            "
          >
          {% endif %}
        </div>
        {% endif %}

        <div
          style="
            margin-top: 16px;
            margin-bottom: 16px;
          "
        >
          {% for vote in game.votes %}
            <span style="white-space: nowrap">
              {% if vote.username == username %}
              <span
                class="nes-text is-error nes-pointer"
                {% if event.read_only %}
                  title="Event is in read-only mode"
                {% else %}
                  title="Remove your vote for this game"
                {% endif %}
                onclick="document.getElementById('btn-vote-{{ game.id }}').click()"
              >
                x
                <button
                  id="btn-vote-{{ game.id }}"
                  type="submit"
                  name="vote_id"
                  value="{{ vote.id }}"
                  {% if event.read_only %}disabled{% endif %}
                  style="display: none;"
                ></button>
              </span>
              {% endif %}
              <span class="nes-text is-success">
                {{ vote.username }}</span>{% if not forloop.last %}, {% endif %}
            </span>
          </button>
          {% endfor %}
        </div>

        {% if game.current_user_can_vote %}
        <div
          style="
            display: flex;
            margin-left: 8px;
            margin-bottom: 16px;
          "
        >
          <button
            type="submit"
            value="{{ game.id }}"
            name="game_id"
            class="nes-btn {% if event.read_only %}is-disabled{% endif %}"
            {% if event.read_only %}
            title="Event is in read-only mode"
            disabled
            {% endif %}
            title="Vote for playing this game"
            style="
              max-height: 72px;
            "
          >
            <i class="nes-icon is-medium like"></i>
          </button>
        </div>
        {% endif %}

      </div>
    </div>
    {% empty %}
    No games yet
    {% endfor %}
  </form>

</div>
{% endblock%}
