{% extends "core/base.html" %}

{% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
  "
>
  <div
    style="
      text-align: center;
      margin-bottom: 32px;
    "
  >
    <p>
      <h1 class="nes-text is-primary">
        {{ event.name }}
      </h1>
      <h2 class="nes-text">
        {{ event.date|date:"l, d.m.Y" }}
      </h2>
    </p>
    <p>
      Vote which games you want to play!
    </p>
  </div>
  <form
    id="form"
    action="{% url "event-vote" uuid=event.uuid %}"
    method="POST"
  >
    {% csrf_token %}
    <ol>
      {% for game in games %}
      <li
        style="
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 32px;
        "
      >
        <div
          class="nes-container is-rounded with-title"
          style="flex-grow: 1"
        >
          <div class="title">
            {{ game.name }}
          </div>
          <div style="margin-top: 32px;">
            {% for vote in game.votes %}
              <span style="white-space: nowrap">
                {% if vote.username == username %}
                <span
                  class="nes-text is-error nes-pointer"
                  onclick="document.getElementById('btn-vote-{{ game.id }}').click()"
                >
                  x
                  <button
                    id="btn-vote-{{ game.id }}"
                    type="submit"
                    name="vote_id"
                    value="{{ vote.id }}"
                    style="display: none;"
                  ></button>
                </span>
                {% endif %}
                <span class="nes-text is-success">
                  {{ vote.username }}</span>{% if not forloop.last %}, {% endif %}
              </span>
            </button>
            {% endfor %}
          </div>
        </div>
        {% if game.current_user_can_vote %}
        <div
          style="
            display: flex;
            margin-left: 8px;
          "
        >
          <button
            type="submit"
            value="{{ game.id }}"
            name="game_id"
            class="nes-btn"
            title="Vote for playing this game"
            style="
              margin-top: 24px;
              margin-bottom: 24px;
              max-height: 72px;
            "
          >
            <i class="nes-icon is-medium like"></i>
          </button>
        </div>
        {% endif %}
      </li>
      {% empty %}
      No games yet
      {% endfor %}
    </ol>
  </form>

</div>
{% endblock%}
