{% extends "core/base.html" %}

{% block navbar_left %}
<a
  class="nes-text is-success nes-pointer"
  href="{% url "event-add-game" uuid=event.uuid %}"
>
  + Add Game
</a>
{% endblock %}

{% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
  "
>
  <div
    style="
      text-align: center;
      margin-bottom: 32px;
    "
  >
    <p>
      <h1 class="nes-text is-primary">
        {{ event.name }}
      </h1>
      <h2 class="nes-text">
        {{ event.date|date:"l, d.m.Y" }}
      </h2>
    </p>
    <p>
      Vote which games to play!
    </p>
  </div>
  <form
    id="form"
    action="{% url "event-vote-game" uuid=event.uuid %}"
    method="POST"
  >
    {% csrf_token %}
    {% for game in games %}
    <div
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
      "
    >
      <div dbg2
        class="nes-container is-rounded with-title"
        style="
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="title">
          <a
            href="{{ game.store_url }}"
            target="_blank"
            title="Open store page"
          >
            {{ game.name }}
          </a>
        </div>

        {% if game.image_url %}
        <div style="flex-grow: 1">
          {% if game.store_url %}
          <a
            href="{{ game.store_url }}"
            target="_blank"
            title="Open store page"
          >
            <img
              src="{{ game.image_url }}"
              style="
                width: 100%;
                height: auto;
                max-width: 720px;
                max-height: 360px;
              "
            >
          </a>
          {% else %}
          <img
            src="{{ game.image_url }}"
            style="
              width: 100%;
              height: auto;
              max-height: 400px;
            "
          >
          {% endif %}
        </div>
        {% endif %}

        {% if game.current_user_can_vote %}
        <div
          style="
            display: flex;
            margin-left: 8px;
          "
        >
          <button
            type="submit"
            value="{{ game.id }}"
            name="game_id"
            class="nes-btn"
            title="Vote for playing this game"
            style="
              margin-top: 16px;
              max-height: 72px;
            "
          >
            <i class="nes-icon is-medium like"></i>
          </button>
        </div>
        {% endif %}

        <div style="margin-top: 16px;">
          {% for vote in game.votes %}
            <span style="white-space: nowrap">
              {% if vote.username == username %}
              <span
                class="nes-text is-error nes-pointer"
                title="Remove your vote for this game"
                onclick="document.getElementById('btn-vote-{{ game.id }}').click()"
              >
                x
                <button
                  id="btn-vote-{{ game.id }}"
                  type="submit"
                  name="vote_id"
                  value="{{ vote.id }}"
                  style="display: none;"
                ></button>
              </span>
              {% endif %}
              <span class="nes-text is-success">
                {{ vote.username }}</span>{% if not forloop.last %}, {% endif %}
            </span>
          </button>
          {% endfor %}
        </div>

      </div>
    </div>
    {% empty %}
    No games yet
    {% endfor %}
  </form>

</div>
{% endblock%}
