{% extends "core/base.html" %}

{% block content %}
<div
  style="
    height: 100vh;
    display: flex;
    align-items: center;
  "
>
  <form method="POST">
    {% csrf_token %}
    <input
      type="text"
      hidden
      name="next"
      value="{{ next_url }}"
    >
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >

      <div
        class="nes-field"
        style="position: relative;"
      >
        <label for="username-input">
          Before we move on,<br>
          what is your name?
        </label>
        <input
          id="username-input"
          type="text"
          name="username"
          required
          class="nes-input"
          style="
            position: relative;
            margin-top: 16px;
            z-index: 2;
          "
        >
        {% if existing_usernames %}
        <div
          class="nes-select"
          style="
            position: absolute;
            top: 60px;
            right: -48px;
            z-index: 1;
          "
        >
          <select
            id="existing-usernames-select"
            style="
              border: none;
              border-image: none;
              background: none;
            "
            onchange="populateInputFromSelectedUsername()"
          >
            {% for existing_username in existing_usernames %}
            <option value="{{ existing_username }}">
              {{ existing_username }}
            </option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
      </div>
      <button
        type="submit"
        class="nes-btn is-success"
        style="margin-top: 16px;"
      >
        That's me
      </button>
    </div>
  </form>
</div>

<script>

function populateInputFromSelectedUsername() {
  var usernameSelect = document.getElementById('existing-usernames-select');
  var usernameInput = document.getElementById('username-input')
  usernameInput.value = usernameSelect.value;
}

</script>
{% endblock %}
